@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #111111;
}

.header{
    position: fixed;
    z-index: 99;
    top: 20px;
    right: 20px;
    left: 20px;
    max-width: 1200px;
    height: 52px;
    margin: 20px auto;
    padding: 10px;
    background: rgba(255, 255, 255, 0.87);
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.logo{
    height: 35px;
    padding: 0 20px;
    float: left;
}

nav{
    float: right;
}

.clearfix{
    clear: both;
}

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    display: block;
    padding: 4px 15px;
    text-decoration: none;
    color: #262626;
}

nav ul li a.active,
nav ul li a:hover{
    background: #069370;
    color: #fff;
    transition: 0.5s;    
}

.background img{
    max-width: 100%;
}

.background{
    position: relative;
}

.main-btn{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
}

.main-btn a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    background-color: rgb(181, 2, 2);
    padding: 10px 20px;
}

.main-btn a:hover{
    border-radius: 30px;
    border: 3px solid yellow;
    background-color: black;
    transition: .2s;
}

/* starting about section */

.container{
    margin: 0 14%;
    color: white;
}

.about{
    display: flex;
    line-height: 35px;
}

.about-head{
    font-size: 30px;
    border-bottom: 2px solid white;
}

.about-img{
    margin-left: 50px;
}

/* starting feature section */

.feature-title{
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 5px;
    margin-top: 60px;
}

.feature-title p{
    margin-top: -30px;
}

.feature .card-title{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

.feature .card{
    display: flex;
    margin-bottom: 50px;
}

.feature .card .sec-1{
    padding-top: 5px;
}

.feature .card-img{
    margin: 0 100px;
}

.feature .card-img img{
    max-width: 200px;
}

/* specifications start */
.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.spec .card{
    border: 1px solid white;
    min-width: 40%;
    min-width: 40%;
    padding: 15px 40px;
    border-radius: 20px;
}

.spec .card:hover{
    border-color: red;
    transition: .5s;
}

.spec .card .title{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 10px;
}

.spec .card .content{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}


.spec .card p{
    margin: 0;
    padding: 0 20px;
}

.spec .card hr{
    margin: 0;
    background-color: rgb(78, 78, 78);
    height: 1px;
    border: none;
}

/* specification end */


.honda-logo{
    text-align: center;
    margin: 100px 0;
}

.footer-line{
    background-color: rgb(78, 78, 78);
    height: 1px;
    border: none;
}


footer .row{
    margin: 40px 0;
    display: flex;
    justify-content: space-evenly;
}

footer .row a{
    text-decoration: none;
    color: white;
}

footer .row a:hover{
    text-decoration: underline;
    color: red;
}


@media (max-width: 768px){
    .header{
        max-width: 60px;
        right: 0;
        margin-right: 10px;
        margin-top: 5px;
        padding: 5px 8px;

    }
    .menu-toggle{
        display: block;
        width: 40px;
        height: 40px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #069370;
    }
    .header .logo{
        display: none;
    }
    nav{
        background-color: rgb(212, 212, 212);
    }
    .menu-toggle:before{
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }
    .menu-toggle.active:before{
        content: '\f00d';
    }
    nav{
        display: none;
    }
    
    nav.active{
        margin-top: 8px;
        display: block;
        width: 500%;
        position: absolute;
        top: 50px;
        right: 0;
        /* transform: translate(-50%, -50%); */
    }
    nav.active ul{
        display: block;
    }
    nav.active ul li a{
        margin: 0;
    }

    .container{
        margin: 30px;
    }

    .about{
        display: block;   
    }

    .about-img img{
        max-width: 60%;
    }

    .about-img{
        margin: auto;
        text-align: center;
    }
}